* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Coda', cursive;
  color: #DFE8EF;
}
body {
  background-image: url("http://www.psdgraphics.com/file/basketball-floor.jpg");
  width: 100%;
  position: relative;
}
#top-section {
  text-align: center;
  background-color: #0046AD;
  color: white;
  width: 65%;
}
#top-section h1{
  font-size: 40px;
}
#top-section img {
  width: 60%;
  position: relative;
}
.goal {
  text-align: center;
  font-size: xx-large;
}
#middle {
  text-align: center;
  background-color: #D0103A;
  width: 65%;
}
.questions {
  background-color: #D0103A;
  height: 100%;
  padding: 10px;
  text-align: center;
}
button {
  background-color: #0046AD;
  border: 0;
  font-size: 15px;
  margin: 10px;
  width: 100px;
}
#enter {
  width: 300px;
  height: 200px;
  font-size: 100px;
}
.enter-name {
  font-size: 40px;
}
input {
  width: 200px;
  border: 0;
  height: 50px;
  margin: 10px;
  color: black;
  font-size: 20px;
  text-align: center;
}
.question {
  font-size: 30px;
}
.play {
  font-size: 30px;
}
#enter:hover {
  background-color: gold;
}
#start:hover {
  background-color: green;
}
#reset:hover {
  background-color: black;
}
#true:hover {
  background-color: limegreen;
}
#false:hover {
  background-color: limegreen;
}
