* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Coda', cursive;
  color: #DFE8EF;
}
body {
  background-image: url("http://www.psdgraphics.com/file/basketball-floor.jpg");
  width: 100%;
  position: relative;
}
#content {
  padding-top: 50px;
  padding-bottom: 10px;
}
#top-section {
  text-align: center;
  background-color: #0046AD;
  color: white;
  width: 65%;
}
#top-section h1{
  font-size: 40px;
  padding: 10px;
}
#top-section h2 {
  padding: 10px;
}
#top-section img {
  width: 60%;
  position: relative;
}
.goal {
  text-align: center;
  font-size: xx-large;
}
#middle {
  text-align: center;
  background-color: #D0103A;
  width: 65%;
}
.questions {
  background-color: #D0103A;
  height: 100%;
  padding: 10px;
  text-align: center;
}
button {
  background-color: #0046AD;
  border: 0;
  font-size: 15px;
  margin: 15px;
  width: 100px;
}
#enter {
  width: 300px;
  height: 200px;
  font-size: 100px;
}
.enter-name {
  font-size: 40px;
  padding: 10px;
}
input {
  width: 200px;
  border: 0;
  height: 50px;
  margin: 10px;
  color: black;
  font-size: 20px;
  text-align: center;
}
.question {
  font-size: 30px;
}
.answer {
  font-size: 20px;
}
.play {
  font-size: 30px;
}
#enter:hover {
  background-color: gold;
}
#start:hover {
  background-color: green;
}
#reset:hover {
  background-color: black;
}
#true:hover {
  background-color: limegreen;
}
#false:hover {
  background-color: limegreen;
}
.ga {
  text-align: right;
}
.ga img {
  width: 25%;
  padding-right: 5%;
}
.ga p{
  color: black;
  text-align: right;
  font-size: 18px;
  padding-right: 5%;
  font-family: 'Khand', sans-serif;
  font-weight: bold;
}
